/EWItool/nbproject/private/
/EWItool/build/
/EWItool/dist/
/EWItool/*


# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# macos artifacts
.DS_Store
